*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

// -- Colours --

$colours: (
    'body': #DDDDDD,
    'nav': #D4D4D4C2,
    'primary': #353535,
    'secondary': #505050,
    'tertiary': #606060,
    'light': #BDBDBD,
    'hover': #5296F0,
    'active': #006EFF
);

@function colour($colour-name) {
    @return map-get($colours, $colour-name)
};

// Layout
$colour-brand: #5296F0;
$colour-LC: #BDBDBD;
$colour-MC: #878787;
$colour-HC: #353535;

// Denotive
$colour-error: #FF6262;
$colour-success: #63FF7C;
$colour-disabled: #BDBDBD;

// Interactive
$colour-1: #006EFF;
$colour-2: #3484EE;
$colour-3: #5296F0;
$colour-4: #6BA3EF;
$colour-5: #7DB1F6;

// -- Box Model--

@mixin borderBottom {
    border-bottom: solid $colour-brand 4px;
}

// -- Layout --

@mixin flexSpaceEvenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// -- Text --

// Font-Size
$font-sizes: (
    'text--xl': clamp(2rem, 6.25vw, 3rem),
    'text--lg': clamp(1.625rem, 6.25vw, 2.25rem),
    'text--md': clamp(1.375rem, 6.25vw, 1.75rem),
    'text--sm': clamp(1.125rem, 6.25vw, 1.15rem),
    'text--xs': clamp(1rem, 6.25vw, 1.05rem),

    'icon--xl': clamp(3.8rem, 6.25vw, 5rem),
    'icon--lg': clamp(3rem, 6.25vw, 3.4rem),
    'icon--md': clamp(2rem, 6.25vw, 2.6rem),
    'icon--sm': clamp(1.8rem, 6.25vw, 2.4rem),
    'icon--xs': clamp(1rem, 6.25vw, 1.2rem)
);

@function size($size-name) {
    @return map-get($font-sizes, $size-name)
};

// Font-Weight
$font-weights: (
    'regular': 400,
    'medium': 500,
    'semi-bold': 600
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
};

// Line-Height

// Notes:
// Input: lineHeight([font-size in rem])
// Output: line-height

// 16px font size = 145% line height
// 48px font size = 120% line height
@function lineHeight($font-size) {
    @return ((-0.78125*($font-size*16)) + 157.5)/100
};

// -- Transitions -- 

@mixin transitionDuration {
    transition-duration: 0.2s;
}

$transitionDuration: (
    'hover--slow': 200ms,
    'hover--med': 160ms,
    'hover--fast': 120ms,
);

@function transitionDuration($TD-name) {
    @return map-get($transitionDuration, $TD-name)
};

// -- Media Queries --

// Dark Mode
@mixin media-dark{
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

// Mobile
@mixin media-xs {
    @media screen and (max-width: 599px) {
        @content;
    }
}

// Tablet
@mixin media-sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

// Laptop
@mixin media-md {
    @media screen and (min-width: 900px) {
        @content;
    }
}

// Desktop
@mixin media-lg {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

// Desktop (Large)
@mixin media-xl {
    @media screen and (min-width: 1800px) {
        @content;
    }
}