.projects {

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
    }

    &__card {
        background: colour(body);
        position: relative;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

        &--info {
            background-color: colour(primary);
            background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgb(155, 155, 155) 60%, rgba(97, 97, 97, 0) 74%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            font-size: size(icon--md);
            color: colour(light);
            right: 0.4em;
            top: 0.4em;
            cursor: pointer;
            transition-duration: transitionDuration(hover--fast);
        }
        &--img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
        &--name {
            color: colour(primary);
            font-weight: weight(regular);
            line-height: 1;
            margin-bottom: auto;
        }
        &--github {
            color: colour(primary);
            font-size: size(icon--xs);
            text-align: center;
            transition-duration: transitionDuration(hover--fast);
        }
        &--category {
            color: colour(primary);
            opacity: 0.7;
            margin-top: auto;
        }
        &--visit {
            color: colour(primary);
            font-size: size(text--sm);
            text-decoration: none;
            transition-duration: transitionDuration(hover--fast);
        }
    }

    &__card {
        background: colour(body);
        position: relative;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

        &Head {
            @include flexCenter (column);

            &--img {
                display: block;
                width: 100%;
                object-fit: cover;
                transition-duration: transitionDuration(hover--med);
            }
            &--info{
                color: colour(body);
                font-weight: weight(regular);
                line-height: 1;
                margin-bottom: auto;
                opacity: 0;
                position: absolute;
                top: 0%;
                padding: 2em;
                transition-duration: transitionDuration(hover--med);
            }
            &--techHead {
                color: colour(body);
                opacity: 0;
                top: 43%;
                position: absolute;
                transition-duration: transitionDuration
            }
            &--techBody {
                color: colour(body);
                opacity: 0;
                top: 52%;
                position: absolute;
                transition-duration: transitionDuration
            }

            &:hover {
                img {
                    filter: blur(3px) brightness(40%);
                }
                h4, p {
                    opacity: 1;
                }
            }
        }

        &Body {
            border-top: solid #5296F0 4px;
            z-index: 3;
            padding: 0.5em;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 0.3em;
            text-align: left;

            &--name {
                color: colour(primary);
                font-weight: weight(regular);
                line-height: 1;
                margin-bottom: auto;
            }
            &--github {
                color: colour(primary);
                font-size: size(icon--xs);
                text-align: center;
                transition-duration: transitionDuration(hover--fast);
            }
            &--category {
                color: colour(primary);
                opacity: 0.7;
                margin-top: auto;
            }
            &--visit {
                color: colour(primary);
                font-size: size(text--sm);
                text-decoration: none;
                transition-duration: transitionDuration(hover--fast);
            }
        }
    }
}