// Dark Mode
@include media-dark {

}

// Mobile - =< 599px
@include media-xs {
    .about, .skills, .projects, .contact {
        padding: 8rem 3%;
    }
}

// Tablet - >= 600px
@include media-sm {
    .about, .skills, .projects, .contact {
        padding: 8rem 15%;
    }

    .home__img {
        width: 40%;
    }
}

// Laptop - >= 900px
@include media-md {
    .burger {
        visibility: hidden;
    }
    .nav {
        position: sticky;
        transform: translateX(0);
        visibility: visible;
        height: auto;

        &__menu {
            grid-template-columns: repeat(5, 1fr);
            padding: 0;
        }

        &__item {
            transform: translateX(0);
        }
    }

    .home__img {
        width: 30%;
    }

    .skills, .projects{
        padding: 8rem 6%;
    }

    .skills__sections {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4em;
    }
}

// Desktop - >= 1200px
@include media-lg {
    .about {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        grid-gap: 3em;

        &__img {
            display: block;
        }
    }

    .home__img {
        width: 20%;
    }
}

// Desktop (Large) - >= 1800px
@include media-xl {

}
