.skills {
    &__sections {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4em;
        text-align: center;
    }

    &__section {
        &--head {
            color: colour(secondary);
            margin-bottom: 1.4em;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.4em;
    }

    &__card {
        &--img {
            height: 50px;
        }
        &--body {
            margin-top: 0.5em;
            color: colour(primary);
        }
    }
}
