*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.home__img {
  width: 80%;
}
.home__text {
  line-height: 1.2;
}
.home__text--name {
  font-weight: 400;
  color: #606060;
  margin: 0.6em;
}
.home__text--profession {
  color: #353535;
  font-weight: 500;
}
.home__CTA {
  -webkit-animation: bounce 1.3s infinite;
          animation: bounce 1.3s infinite;
  color: #505050;
  font-size: clamp(3.8rem, 6.25vw, 5rem);
  margin-top: 0.3em;
}
.home__CTA svg {
  transition-duration: 200ms;
}

@-webkit-keyframes bounce {
  50% {
    transform: translateY(4vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(4vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.burger {
  background: #D4D4D4C2;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 1.4rem;
  border-radius: 50px;
  position: fixed;
  z-index: 2;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 26px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.burger__menu {
  margin: auto;
  position: fixed;
  width: 26px;
  height: 3px;
  background: #5296F0;
  transition: all 0.3s ease-in-out;
}
.burger__menu::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 26px;
  height: 3px;
  background: #5296F0;
  transition: all 0.3s ease-in-out;
}
.burger__menu::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 26px;
  height: 3px;
  background: #5296F0;
  transition: all 0.3s ease-in-out;
}
.burger__menu.open {
  transform: rotate(180deg);
  background: transparent;
}
.burger__menu.open::before {
  transform: translateY(8px) rotate(45deg);
}
.burger__menu.open::after {
  transform: translateY(-8px) rotate(-45deg);
}

.nav {
  background: #D4D4D4C2;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: solid #5296F0 4px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.2s ease;
}
.nav.open {
  visibility: visible;
  transform: translateX(0);
}
.nav__menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  padding: 8em 0;
}
.nav__item {
  margin: auto 1.8em;
  transform: translateX(100vw);
  transition: all 0.1s ease;
}
.nav__item.open {
  transform: translateX(0);
}
.nav__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #353535;
  transition-duration: 120ms;
}
.nav__img {
  height: 70px;
  padding: 0.4em;
}

.nav__em:nth-child(1) {
  transition-delay: 0.1s;
}

.nav__em:nth-child(2) {
  transition-delay: 0.15s;
}

.nav__em:nth-child(3) {
  transition-delay: 0.2s;
}

.nav__em:nth-child(4) {
  transition-delay: 0.25s;
}

.nav__em:nth-child(5) {
  transition-delay: 0.3s;
}

.about__text--head {
  text-align: center;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.4em;
  color: #353535;
}
.about__text--body {
  line-height: 1.45;
  color: #505050;
}
.about__socials--head {
  color: #353535;
  line-height: 1.35625;
  text-align: center;
  margin: 2em 0 1em 0;
}
.about__socials--icons {
  display: flex;
  justify-content: space-evenly;
}
.about__socials--icon {
  color: #505050;
  font-size: clamp(1.8rem, 6.25vw, 2.4rem);
}
.about__socials--icon svg {
  transition-duration: 160ms;
}
.about__img {
  margin: 5rem 0;
  width: 100%;
  display: none;
}

.skills__sections {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4em;
  text-align: center;
}
.skills__section--head {
  color: #505050;
  margin-bottom: 1.4em;
}
.skills__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.4em;
}
.skills__card--img {
  height: 50px;
}
.skills__card--body {
  margin-top: 0.5em;
  color: #353535;
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}
.projects__card {
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.projects__card--info {
  background-color: #353535;
  background: radial-gradient(circle, #333333 0%, #9b9b9b 60%, rgba(97, 97, 97, 0) 74%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  font-size: clamp(2rem, 6.25vw, 2.6rem);
  color: #BDBDBD;
  right: 0.4em;
  top: 0.4em;
  cursor: pointer;
  transition-duration: 120ms;
}
.projects__card--img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__card--name {
  color: #353535;
  font-weight: 400;
  line-height: 1;
  margin-bottom: auto;
}
.projects__card--github {
  color: #353535;
  font-size: clamp(1rem, 6.25vw, 1.2rem);
  text-align: center;
  transition-duration: 120ms;
}
.projects__card--category {
  color: #353535;
  opacity: 0.7;
  margin-top: auto;
}
.projects__card--visit {
  color: #353535;
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
  text-decoration: none;
  transition-duration: 120ms;
}
.projects__card {
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.projects__cardHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects__cardHead--img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 160ms;
}
.projects__cardHead--info {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1;
  margin-bottom: auto;
  opacity: 0;
  position: absolute;
  top: 0%;
  padding: 2em;
  transition-duration: 160ms;
}
.projects__cardHead--techHead {
  color: #FFFFFF;
  opacity: 0;
  top: 43%;
  position: absolute;
  transition-duration: transitionDuration;
}
.projects__cardHead--techBody {
  color: #FFFFFF;
  opacity: 0;
  top: 52%;
  position: absolute;
  transition-duration: transitionDuration;
}
.projects__cardHead:hover img {
  filter: blur(3px) brightness(40%);
}
.projects__cardHead:hover h4, .projects__cardHead:hover p {
  opacity: 1;
}
.projects__cardBody {
  border-top: solid #5296F0 4px;
  z-index: 3;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.3em;
  text-align: left;
}
.projects__cardBody--name {
  color: #353535;
  font-weight: 400;
  line-height: 1;
  margin-bottom: auto;
}
.projects__cardBody--github {
  color: #353535;
  font-size: clamp(1rem, 6.25vw, 1.2rem);
  text-align: center;
  transition-duration: 120ms;
}
.projects__cardBody--category {
  color: #353535;
  opacity: 0.7;
  margin-top: auto;
}
.projects__cardBody--visit {
  color: #353535;
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
  text-decoration: none;
  transition-duration: 120ms;
}

.photography__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}
.photography__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.photography__card--img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 160ms;
}
.photography__card--location {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1;
  margin-bottom: auto;
  opacity: 0;
  position: absolute;
  top: 5%;
  transition-duration: 160ms;
}
.photography__card--visit {
  color: #FFFFFF;
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
  text-decoration: none;
  opacity: 0;
  position: absolute;
  top: 88%;
  transition-duration: 160ms;
}
.photography__card:hover img {
  filter: blur(3px) brightness(40%);
}
.photography__card:hover h3, .photography__card:hover p, .photography__card:hover a {
  opacity: 1;
}
.photography__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
}
.photography__details--info {
  color: #BDBDBD;
  text-decoration: none;
  opacity: 0;
  transition-duration: 160ms;
  padding: 0 0.8em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid #5296F0 0.25rem;
}
.footer__scrollTop {
  text-align: center;
  background: #DDDDDD;
  width: 3.8rem;
  border-radius: 3px;
  font-size: clamp(3rem, 6.25vw, 3.4rem);
  transform: translateY(-50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  color: #353535;
}
.footer__scrollTop svg {
  transition-duration: 200ms;
}
.footer__socials--icons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.footer__socials--icon {
  color: #505050;
  font-size: clamp(3rem, 6.25vw, 3.4rem);
}
.footer__socials--icon svg {
  transition-duration: 160ms;
}
.footer__copyright {
  color: #353535;
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
  opacity: 0.7;
  padding: 2em 0;
}

.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error--text {
  display: block;
  color: #FF6961;
  margin-bottom: 0.6em;
}
.error--link {
  color: #353535;
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
  text-decoration: none;
  transition-duration: 160ms;
}

@media screen and (max-width: 599px) {
  .about, .skills, .projects, .photography {
    padding: 8rem 3%;
  }
}
@media screen and (min-width: 600px) {
  .about, .skills, .projects, .photography {
    padding: 8rem 15%;
  }

  .home__img {
    width: 40%;
  }
}
@media screen and (min-width: 900px) {
  .burger {
    visibility: hidden;
  }

  .nav {
    position: sticky;
    transform: translateX(0);
    visibility: visible;
    height: auto;
  }
  .nav__menu {
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
  }
  .nav__item {
    transform: translateX(0);
  }

  .home__img {
    width: 30%;
  }

  .skills, .projects, .photography {
    padding: 8rem 6%;
  }

  .skills__sections {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__cards, .photography__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 3em;
  }
  .about__img {
    display: block;
  }

  .home__img {
    width: 20%;
  }
}
body {
  background: #FFFFFF;
  width: 100vw;
}
body h1 {
  font-size: clamp(2rem, 6.25vw, 3rem);
}
body h2 {
  font-size: clamp(1.625rem, 6.25vw, 2.25rem);
}
body h3 {
  font-size: clamp(1.375rem, 6.25vw, 1.75rem);
}
body h4 {
  font-size: clamp(1.125rem, 6.25vw, 1.15rem);
}
body p {
  font-size: clamp(1rem, 6.25vw, 1.05rem);
}

#openAnim {
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
  z-index: 10;
  position: absolute;
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-animation: openAnim 1.2s ease-out;
          animation: openAnim 1.2s ease-out;
}

@-webkit-keyframes openAnim {
  from {
    transform-origin: bottom;
  }
  to {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

@keyframes openAnim {
  from {
    transform-origin: bottom;
  }
  to {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
.section__header {
  text-align: center;
  margin-bottom: 2em;
}
.section__header--head {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.3em;
  color: #353535;
}
.section__header--body {
  line-height: 1.45;
  margin-bottom: 4em;
  color: #606060;
}

.link--colour:hover, .link--colour:focus {
  color: #5296F0;
}
.link--colour:active {
  color: #006EFF;
}

.link--grow:hover, .link--grow:focus {
  transform: scale(1.2);
}

.link--disabled {
  color: #BDBDBD;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */