@import 'config', 'home', 'nav', 'about', 'skills', 'projects', 'photography', 'footer', '404', 'responsive';

body {
    background: colour(body);
    width: 100vw;

    h1 {
        font-size: size(text--xl);
    }
    h2 {
        font-size: size(text--lg);
    }
    h3 {
        font-size: size(text--md);
    }
    h4 {
        font-size: size(text--sm);
    }
    p {
        font-size: size(text--xs);
    }
}

// -- Dark Mode --

// html, img, video, iframe{
//     filter: invert(1) hue-rotate(180deg);
// }

// body {
//     background: darken(colour(body), 8%);

//     .projects__card, .footer__scrollTop {
//         box-shadow: 0px 2px 5px invert(rgba(33, 33, 33, 0.4));
//     }
    
//     .projects__card {
//         background: darken(colour(body), 15%);
//     }

//     .projects__details {
//         background-color: invert(rgba(75, 75, 75, 0.75));
//         color: invert(colour(light));
//     }
// }

// -- Open Animation --

#openAnim {
    height: 100vh;
    width: 100vw;
    background: colour(body);
    z-index: 10;
    position: absolute;
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.4);

    animation: openAnim 1.2s ease-out;
}

@keyframes openAnim {
    from {
        transform-origin: bottom;
    }
    to {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

// -- Global Classes --

// Sections
.section__header {
    text-align: center;
    margin-bottom: 2em;

    &--head {
        line-height: lineHeight(3);
        font-weight: weight(semi-bold);
        margin-bottom: 0.3em;
        color: colour(primary);
    }
    
    &--body {
        line-height: lineHeight(1);
        margin-bottom: 4em;
        color: colour(tertiary);
    }
}

// Links
.link--colour {
    &:hover, &:focus {
        color: colour(hover);
    }

    &:active {
        color: colour(active);
    }
}

.link--grow {
    &:hover, &:focus {
        transform: scale(1.2);
    }
}

.link--disabled {
    color: colour(disabled);
    pointer-events: none;
}